.footer {
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  background: #F5F6F9;

  p {
    margin: 0;
    color: rgba(0,0,0,.8);
  }
}
