.container--loading {
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 30px;
    letter-spacing: 3px;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes loading {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: .3;
    transform: scale(.6);
  }
}