$font-Nunito: 'Nunito Sans', Arial;
$color-font: #000;

%flex-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

%a-settings {
  text-decoration: none;
  color: #006AFA;
  font-size: 0.9em;
  transition: 0.1s;
  will-change: transform;
}
%a-transform {
  text-decoration: underline;
  transform: scale(1.02);
  transform-origin: 0 100%;
}

.container__login {
  display: grid;
  grid-template: minmax(auto, 1fr) / 1fr;
  grid-gap: 10px;
  min-height: 100vh;
  color: #000;
  padding: 40px;
  box-sizing: border-box;
  align-content: center;
  justify-items: center;
}

.login {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 5px;
  align-items: center;
  align-content: space-evenly;
  font-size: 16px;
  border: 1px solid $color-font;
  border-radius: 25px;
  padding: 0 30px;
  height: 100%;
  width: 320px;
  box-sizing: border-box;

  h2 {
    margin: 8px 0;
    font-size: 70px;
    font-weight: 900;
    line-height: .9;
    letter-spacing: 3px;
  }

  form {
    > input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 15px;
      outline: none;
      border: 0;
      border-bottom: 1px solid $color-font;
      background: transparent;
      padding: 10px;
      font-size: 0.9em;
      color: $color-font;
      font-family: $font-Nunito;
    }
    input::placeholder {
      color: rgba(0,0,0,.6);
      font-weight: 100;
    }

    button {
      width: 100%;
      border: 0;
      height: 40px;
      border-radius: 50px;
      outline: none;
      font-family: $font-Nunito;
      font-size: 0.9em;
      letter-spacing: 1px;
      background: #006AFA;
      color: #FFF;
      margin-bottom: 15px;
      cursor: pointer;
      transition: 0.3s;
      will-change: transform;
    }
    button:active {
      transform: scale(0.9);
    }
  }

  .login__singup {
    font-size: 0.9em;
    p {
      margin: 0;
      margin-bottom: 15px;
      color: rgba(0,0,0,.7);
    }
    a {
      display: inline-block;
      @extend %a-settings;
      font-size: 1em;
      font-weight: 600;
      padding: 0 5px;
    }
    a:hover {
      @extend %a-transform;
    }
  }
}

@media screen and (max-width: 480px ) {
  .container__login {
    padding: 0px;
  }
  
  .login {
    font-size: 15px;
    border: 0px;
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
  
    h2 {
      font-size: 50px;
    }
  }
}